/* blog-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .blog-post {
    margin-bottom: 80px;
  }
  
  .blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog-post img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-post p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; 
  } */